<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <body th:fragment="script">
        <div class="modal fade" id="pageModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content"></div>
            </div>
        </div>
        <!--/* Ajax Scripts */-->
        <script type="text/javascript">
            $(function () {
                var token = $("meta[name='_csrf']").attr("content");
                var header = "X-CSRF-TOKEN";
                $(document).ajaxSend(function(e, xhr, options) {
                    xhr.setRequestHeader(header, token);
                });
            });
        </script>
        <!--/* Logout */-->
        <script type="text/javascript">
            $(document).on("click", ".logout", function(event) {
                event.stopPropagation();
                event.preventDefault();
                $(this).parent().submit();
                return false;
            });
        </script>
        <!--/* Modal Scripts */-->
        <script type="text/javascript">
            $(function() {

                var modal =$("#pageModal");
                var modalContent = $(modal).find(".modal-content:first");

                // Retrieve modal on element with 'data-modal-url' attribute
                $(document).on("click", "[data-modal-url]", function() {
                    var url = $(this).attr("data-modal-url");
                    $.ajax({
                        url: url,
                        type: "GET"
                    }).done(function(res){
                        $(modalContent).html(res);
                        $(modal).modal("show");
                    }).fail(function(res){
                        console.log("Unable to display modal content.");
                    });
                });

                // Handle submit of modal form
                $(modalContent).on("submit", "form", function(event) {
                    event.preventDefault();
                    event.stopPropagation();

                    // Disable submit button
                    $(this).find("[type='submit']:first").attr("disabled", true);

                    var formData = new FormData($(this)[0]);

                    $.ajax({
                        url: $(this).attr("action"),
                        type: $(this).attr("method"),
                        data: formData,
                        processData: false,
                        contentType: false
                    }).done(function(res) {
                        $(modalContent).html(res);
                    }).fail(function() {
                        console.log("Unable to submit modal form.");
                    });

                    return false;
                });
            });
        </script>
        <!--/* Reload Content Url Scripts */-->
        <script type="text/javascript">
            $(function() {

                // Load content on page load content-urls containers
                $("[data-content-url]").each(function(index, container) {
                    $.ajax({
                        url: $(container).attr("data-content-url") + window.location.search,
                        type: "GET"
                    }).done(function(res) {
                        $(container).html(res);
                    }).fail(function() {
                        console.log("Unable to load content url.");
                    });
                });

                // Reload event listener on content-id containers
                $("[data-content-id]").each(function(index, container) {
                    $(container).on("reload", function() {
                        var form = $(container).find("form:first");
                        $.ajax({
                            url: form ? getUrl($(form).attr("action")) : $(container).attr("data-content-url"),
                            type: "GET",
                            data: form ? getParams(form) : null
                        }).done(function(res) {
                            $(container).html(res);
                        }).fail(function() {
                            console.log("Unable to reload content");
                        });
                    });
                });

                function getUrl(url) {
                    if (window.location.search) {
                        return url + window.location.search;
                    }
                    return url;
                };

                function getParams(form) {
                    if (window.location.search) {
                        return null;
                    }
                    return $(form).serialize();
                };
            });
        </script>
    </body>
</html>