<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <div class="dashboard">
        <th:block th:if="${details.displayEmailVerification()}">
            <div class="notification">
                <div class="notification__icon">
                    <i class="fas fa-user-check fa-5x"></i>
                </div>
                <div class="notification__title">
                    You must verify your email address before you can create a new project.
                </div>
                <div class="notification__btn">
                    <button class="btn btn-lg btn-primary" id="resendEmailVerification" type="button">
                        <i class="fas fa-paper-plane"></i>
                        Resend Verification
                    </button>
                </div>
            </div>
        </th:block>
        <th:block th:if="${details.displayCreateServer()}">
            <div class="notification">
                <div class="notification__icon">
                    <i class="fas fa-server fa-5x"></i>
                </div>
                <div class="notification__title">
                    You currently do not have any game servers
                </div>
                <div class="notification__btn">
                    <a class="btn btn-lg btn-primary" th:href="@{/project/create}">
                        <i class="fas fa-plus"></i>
                        Create Server
                    </a>
                </div>
            </div>
        </th:block>
        <th:block th:if="${details.displayProjectList()}">
            <div class="projects">
                <div class="projects__actions">
                    <a class="btn btn-primary" th:href="@{/project/create}">
                        <i class="fas fa-plus"></i>
                        Create Server
                    </a>
                </div>
                <div class="projects__list">
                    <div class="row">
                        <th:block th:each="project : ${details.projects}">
                            <div class="col-sm-4 item">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="card-title">
                                            [[${project.name}]]
                                        </div>
                                        <div class="card-subtitle text-muted">
                                            [[${project.gameType}]]
                                        </div>
                                        <p class="text-muted">
                                            [[${project.status}]]
                                        </p>
                                        <a class="btn btn-primary btn-block" th:href="${@projectUrlUtil.getProjectUrl(project.id, project.status, project.state)}">
                                            [[${project.status.name() == 'CONFIG' ? 'Configure' : 'Details' }]]
                                            <i class="fas fa-arrow-circle-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </th:block>
                    </div>
                </div>
            </div>
        </th:block>
    </div>
    <script th:if="${!details.emailVerified}" type="text/javascript">
        $(document).on("click", "#resendEmailVerification", function() {
            $.post("/verify/resend")
                .done(function() {
                    alert("Email Verification Sent");
                });
        });
    </script>
</html>