<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/single-column}">
    <head>
        <title>Test</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.6/handlebars.min.js" integrity="sha256-usTqAE1ywvdMtksWzdeWzD75MsfJN0h0U7y2NtZL3N0=" crossorigin="anonymous"></script>
        <style>
            .logs-wrapper {
                height: 200px;
                overflow-y: auto;
                overflow-x: hidden;
                transform: rotateX(180deg);
            }
            .logs {
                padding: 0;
                list-style-type: none;
                transform: rotateX(180deg);
            }
            .logs > li:nth-child(odd) {
               background-color: #eeeeee;
            }
        </style>
    </head>
    <body layout:fragment="content">
        <div class="connect-form mt-5" style="display: block;">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-inline">
                        <div class="form-group mx-sm-3">
                            <input class="form-control" id="serverAddressBtn" placeholder="Sever Ip Address">
                        </div>
                        <button class="btn btn-primary" id="connectBtn">Connect</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="server-dashboard" style="display: none;">
            <div class="server-status">
                <div class="card">
                    <div class="card-body">
                        <div class="server-info">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Server Address</label>
                                        <div id="serverAddress"></div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Server Status</label>
                                        <div id="serverStatus"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="server-metrics"></div>
                    </div>
                </div>
            </div>

            <div class="minecraft-server mt-3">
                <div class="card">
                    <div class="card-body">
                        <div class="minecraft-status"></div>
                        <div class="minecraft-logs">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label>Console</label>
                                        <div class="logs-wrapper">
                                            <ul class="logs"></ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script id="statusTemplate" type="text/x-handlebars-template">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Minecraft Status</label>
                        <div>{{this.status}}</div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        {{#if this.isRunning}}
                        <button class="btn btn-sm btn-secondary" id="stopMinecraftBtn">Stop</button>
                        {{^}}
                        <button class="btn btn-sm btn-primary" id="startMinecraftBtn">Start</button>
                        {{/if}}
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        {{#if this.isRunning}}
                        <button class="btn btn-sm btn-secondary">Tell</button>
                        {{/if}}
                    </div>
                </div>
            </div>
        </script>
        <script id="metricTemplate" type="text/x-handlebars-template">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>CPU</label>
                        <ul>
                            <li>Cores: {{this.cpu.count}}</li>
                            <li>Usage: {{this.cpu.percent}}%</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Memory</label>
                        <ul>
                            <li>Total: {{this.memory.total}}</li>
                            <li>Used: {{this.memory.used}}</li>
                            <li>Free: {{this.memory.free}}</li>
                            <li>Percent: {{this.memory.percent}}%</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Disk</label>
                        <ul>
                            <li>Total: {{this.disk.total}}</li>
                            <li>Used: {{this.disk.used}}</li>
                            <li>Free: {{this.disk.free}}</li>
                            <li>Percent: {{this.disk.percent}}%</li>
                        </ul>
                    </div>
                </div>
            </div>
        </script>
        <script id="logTemplate" type="text/x-handlebars-template">
            <li>{{this}}</li>
        </script>
        <script>
            $(function(){
                var serverAddress = "http://172.18.55.134:8080/";

                $("#connectBtn").on("click", function() {
                    serverAddress = $("#serverAddressBtn").val();
                    $(".connect-form").hide();
                    $("#serverAddress").text(serverAddress);
                    $(".server-dashboard").show();

                    $.get("/health", {"serverAddress": serverAddress})
                        .done(function(res) {
                            $("#serverStatus").text("Up");
                            status();
                            metrics();
                            logs();
                        })
                        .fail(function(res) {
                            $("#serverStatus").text("Down");
                        });
                });

                $(document).on("click", "#stopMinecraftBtn", function() {
                    $.get("/stop", {"serverAddress": serverAddress})
                        .done(function(res) {
                            renderStatus({status: "down", isRunning: false});
                        });
                });

                $(document).on("click", "#startMinecraftBtn", function() {
                    $.get("/start", {"serverAddress": serverAddress})
                        .done(function(res) {
                            renderStatus({status: "up", isRunning: true});
                        });
                });

                function metrics() {
                    var source = new EventSource('/metrics?serverAddress=' + encodeURI(serverAddress));
                    source.addEventListener("event-metrics", function(event) {
                        var template = Handlebars.compile($("#metricTemplate").html());
                        $(".server-metrics").html(template(JSON.parse(event.data)));
                    });
                }

                function logs() {
                    var source = new EventSource('/logs?serverAddress=' + encodeURI(serverAddress));
                    source.addEventListener("event-log", function(event) {
                        var template = Handlebars.compile($("#logTemplate").html());
                        $(".logs").append(template(event.data));
                    });
                }

                function status() {
                    var source = new EventSource('/status?serverAddress=' + encodeURI(serverAddress));
                    source.addEventListener("event-status", function(event) {
                        var data = JSON.parse(event.data);
                        var context = {
                            status: data.status,
                            isRunning: data.status === "up"
                        };
                        renderStatus(context);
                    });
                };

                function renderStatus(context) {
                    var template = Handlebars.compile($("#statusTemplate").html());
                    $(".minecraft-status").html(template(context));
                }
            });
        </script>
    </body>
</html>