<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout-public}">
    <head>
        <title>[[#{message.sign.in}]]</title>
    </head>
    <body layout:fragment="content">
        <div class="login">
            <form th:method="POST" th:action="@{/login}">
                <div class="text-center">
                    <h1 class="h3 font-weight-normal">[[#{message.sign.in}]]</h1>
                </div>
                <div class="mt-3">
                    <div class="form-group">
                        <input class="form-control" th:classappend="${hasErrors}? is-invalid" type="email" name="username" placeholder="Email address"/>
                    </div>
                    <div class="form-group">
                        <input class="form-control" th:classappend="${hasErrors}? is-invalid" type="password" name="password" placeholder="Password">
                    </div>
                </div>
                <th:block th:if="${hasErrors}">
                    <div class="mt-3">
                        <p class="text-danger">Email / Password is invalid</p>
                    </div>
                </th:block>
                <div class="mt-3">
                    <button class="btn btn-lg btn-primary btn-block" type="submit">[[#{message.sign.in}]]</button>
                </div>
                <div class="mt-3">
                    <a class="btn btn-lg btn-primary btn-block" href="/registration" tabindex="0">Register</a>
                </div>
                <div class="mt-3">
                    <a href="/forgot-password" tabindex="0">Forgot password?</a>
                </div>
            </form>
        </div>
    </body>
</html>