<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{email/layout/default}">
    <body layout:fragment="content">
        <div>
            [[#{email.password.reset.body.content(${email})}]]
        </div>
        <div>
            <a class="button" th:href="${loginUrl}">[[#{message.sign.in=}]]</a>
        </div>
        <div>
            [[#{message.copyable.link}]] <a th:href="${loginUrl}">[[${loginUrl}]]</a>
        </div>
        <div>
            <p>[[#{email.password.reset.body.recover.msg}]] <a th:href="${forgotPasswordUrl}">[[${forgotPasswordUrl}]]</a>.</p>
            <p>[[#{email.password.reset.body.copy.support.msg}]]</p>
        </div>
        <div>
            <p>[[#{email.password.reset.body.password.reply.msg}]]</p>
        </div>
    </body>
</html>