<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{email/layout/default}">
    <body layout:fragment="content">
        <div>
            Your password reset is complete for [[${email}]]. You may login into your account with your new password.
        </div>
        <div>
            <a class="button" th:href="${loginUrl}">Login</a>
        </div>
        <div>
            Copyable link: <a th:href="${loginUrl}">[[${loginUrl}]]</a>
        </div>
        <div>
            <p>If you did not perform this action, you can recover access by completing the reset password form at <a th:href="${forgotPasswordUrl}">[[${forgotPasswordUrl}]]</a>.</p>
            <p>If you run into problems, please contact support by replying to this email.</p>
        </div>
        <div>
            <p>Please do not reply to this email with your password. We will never ask for your password, and we strongly discourage you from sharing it with anyone.</p>
        </div>
    </body>
</html>