<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{email/layout/default}">
    <body layout:fragment="content">
        <div>
            [[#{email.password.recovery.body.content(${email})}]]
        </div>
        <div>
            <a class="button" th:href="${resetPasswordUrl}">[[#{email.password.recovery.body.reset.btn}]]</a>
        </div>
        <div>
            [[#{message.copyable.link}]] <a th:href="${resetPasswordUrl}">[[${resetPasswordUrl}]]</a>
        </div>
        <div>
            [[#{email.password.recovery.body.expire.msg}]]
        </div>
        <div>
            [[#{email.password.recovery.body.support.msg}]]
        </div>
    </body>
</html>