<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{email/layout/default}">
    <body layout:fragment="content">
        <div>
            Somebody (hopefully you) requested a new password for the account [[${email}]]. No changes have been made to your account yet.
        </div>
        <div>
            <a class="button" th:href="${resetPasswordUrl}">Reset My Password</a>
        </div>
        <div>
            Copyable link: <a th:href="${resetPasswordUrl}">[[${resetPasswordUrl}]]</a>
        </div>
        <div>
            This link will expire in one hour and can only be used once.
        </div>
        <div>
            If you didn't request this, you can ignore this email or let us know. Your password won't change until you create a new password.
        </div>
    </body>
</html>