<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout-app}">
    <head>
        <title>Select Server</title>
        <style>
            .step-content {
                display: flex;
                flex-direction: column;
                margin-top: 30px;
            }
        </style>
    </head>
    <body layout:fragment="content">
        <div>
            <h1>Create Project</h1>
        </div>
        <div class="stepper">
            <div class="step active">
                <div class="indicator"></div>
                <a class="title">Step 1</a>
                <div class="subtitle">Select a game</div>
            </div>
            <div class="step active">
                <div class="indicator"></div>
                <a class="title">Step 2</a>
                <div class="subtitle">Select a region</div>
            </div>
            <div class="step">
                <div class="indicator"></div>
                <a class="title">Step 3</a>
                <div class="subtitle">Select a server</div>
            </div>
            <div class="step">
                <div class="indicator"></div>
                <a class="title">Step 4</a>
                <div class="subtitle">Select a billing</div>
            </div>
        </div>
        <div class="step-content">
            <form method="post" th:action="@{/project/create/__${id}__/server}" th:object="${form}">
                <div class="col-sm-12">
                    <div class="col-sm-4 mx-auto">
                        <div class="form-group">
                            <label class="required">Server</label>
                            <select class="form-control" th:errorclass="is-invalid" th:field="*{selectedServerId}">
                                <option value="1cpu2gb">1cpu - 2gb ram</option>
                                <option value="2cpu4gb">1cpu - 4gb ram</option>
                            </select>
                            <div th:if="${#fields.hasErrors('selectedServerId')}" class="invalid-feedback" th:errors="*{selectedServerId}"></div>
                        </div>
                    </div>
                    <div class="col-sm-4 mx-auto">
                        <button class="btn btn-primary btn-block">Select</button>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>