<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sd="http://www.thymeleaf.org/spring-data">
    <body th:fragment="component(pageable, filter)">
        <form method="GET" th:action="@{/admin/users/table}" th:object="${filter}">
            <div class="row flex-lg-row-reverse flex-sm-column">
                <div class="col-sm-12 col-lg-2 mt-4 ml-4 mr-auto">
                    <div class="filters">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="filter">
                                    <div class="filter__header">[[#{message.admin.users.filter.title}]]</div>
                                    <div class="filter__search">
                                        <div class="form-group">
                                            <input class="form-control" type="text" th:placeholder="#{message.admin.users.filter.email}" th:field="*{email}" />
                                        </div>
                                    </div>
                                    <div class="filter__group">
                                        <div class="filter__title">[[#{message.admin.users.filter.state}]]</div>
                                        <th:block th:each="state : ${filter.allStates}">
                                            <div class="filter__option">
                                                <div class="form-group">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" th:value="${state}" th:id="${state.name()}" th:checked="${filter.isStateChecked(state)}" name="selectedStates" />
                                                        <label class="form-check-label" th:for="${state.name()}">[[#{enum.user.state.__${state.name()}__}]]</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </th:block>
                                    </div>
                                    <div class="filter__group">
                                        <div class="filter__title">[[#{message.admin.users.filter.type}]]</div>
                                        <th:block th:each="type : ${filter.allTypes}">
                                            <div class="filter__option">
                                                <div class="form-group">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" th:value="${type}" th:id="${type.name()}" th:checked="${filter.isTypeChecked(type)}" name="selectedTypes" />
                                                        <label class="form-check-label" th:for="${type.name()}">[[#{enum.user.type.__${type.name()}__}]]</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </th:block>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-9 mt-4 mr-auto ml-4">
                    <div class="table-content">
                        <div class="table-responsive-sm">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <th>
                                        <a class="sorted" sd:pagination-sort="email">[[#{message.admin.users.table.header.email}]]</a>
                                    </th>
                                    <th>
                                        <a class="sorted" sd:pagination-sort="projectCount">[[#{message.admin.users.table.header.projects}]]</a>
                                    </th>
                                    <th>
                                        <a class="sorted" sd:pagination-sort="state">[[#{message.admin.users.table.header.state}]]</a>
                                    </th>
                                    <th>
                                        <a class="sorted" sd:pagination-sort="type">[[#{message.admin.users.table.type.type}]]</a>
                                    </th>
                                    <th></th>
                                </thead>
                                <tbody>
                                    <th:block th:each="projection : ${pageable.content}">
                                        <tr>
                                            <td>[[${projection.email}]]</td>
                                            <td>[[${projection.projectCount}]]</td>
                                            <td>[[#{enum.user.state.__${projection.state}__}]]</td>
                                            <td>[[#{enum.user.type.__${projection.type}__}]]</td>
                                            <td>
                                                <th:block th:if="${!projection.isAdmin()}">
                                                    <a class="switch_user_link" th:href="@{/switch_user?username=__${projection.email}__}">impersonate</a>
                                                </th:block>
                                            </td>
                                        </tr>
                                    </th:block>
                                </tbody>
                            </table>
                        </div>
                        <div class="row mt-4 mx-2">
                            <div class="mr-auto" sd:pagination-summary="">info</div>
                            <ul class="pagination" sd:pagination-split="7" sd:pagination="full"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </body>
</html>